## Class

### Define a class

Including __init__, and other methods.

In [ ]:
class Ellipse:
  def __init__(self, w, h): # don't forget 'self'!!
    self.width = w
    self.height = h
  def calculate_area(self): # no parameter
    return 3.14159 * self.width * self.height
  def scale(self, s): # one parameter
    self.width = self.width * s
    self.height = self.height * s

### Create an object

Call methods.

In [ ]:
ell = Ellipse(3, 4) # two argument, width = 3
print('Area:'+ str(ell.calculate_area()) ) # str(): number to string
ell.scale(2)
print('Scale it, width='+str(ell.width))

Area:37.699079999999995
Scale it, width=6

## Format output

(reference:
* https://docs.python.org/3/library/string.html#formatspec
* https://realpython.com/python-modulo-string-formatting/
* https://realpython.com/python-format-mini-language/)

**Format mini-language** defines the syntax of a format specifier.

**String interpolation**: embed/insert values and objects into your string to dynamically build a new string.

Three tools for string interpolation


1.   modulo operator (%)
2.   f-string literals
3.   str.format() method

### 1. modulo operator

The first string interpolation tool in Python. Unfortunately, it doesn’t provide many string formatting features.

Syntax: *format_string % values*

In [ ]:
print("%d %s cost me %.2f dollars!" % (3, "books", 66.1234))

3 books cost me 66.12 dollars!

* The first item in the tuple is 3, a numeric value that replaces %d in the format string.
* The next item is the string value "books", which replaces %s.
* The last item is the float value 66.1234, which replaces %.2f. As .2 specify the precision of floating-point is 2, so output shows 66.12 rather than 66.1234

### 2. f-string
An f-string is a **string literal** prefixed with an f.

Formatted string literal, or f-string, is quite a popular tool for string interpolation and formatting.

F-string literals start with f or F.

To interpolate a value into an f-string, you need replacement fields. The **replacement fields** are delimited by a pair of curly brackets ({}).

In [ ]:
acc = 1
bal = 23.0
print(f'Account {acc} balance is ${bal:.2f}')

Account 1 balance is $23.00

You may wonder what this ":.2f" means. That's **format specifiers**.

You can **use format specifiers within replacement fields** to format the object that you want to interpolate into your strings.

The syntax is considered a whole mini-language.



![image.png]()

### format specifier

#### format specifier: **[width][precision][Type]**

Type: b for Binary, converts the number to based 2

In [ ]:
num1 = 3
f'Transfer decimal value {num1} into Binary is {num1:b}'

'Transfer decimal value 3 into Binary is 11'

In [ ]:
res = 1/3 # 0.333333333333
f'Number:{res:7.2f}'
#:7.2f-->Type f for float, width = 7, precision = 2, right aligned (default for number)

'Number:   0.33'

In [ ]:
num = 123
f'Number:{num:7d}'
#:7d--> Type d for decimal integer, width = 7, right aligned (default for number)

'Number:    123'

In [ ]:
f'{"Hello":8s}'
#:8s--> Type s for string, width = 8, left aligned (default for string)

'Hello   '

#### format specifier: **[align]**

< for left, > for right, if not using default:

In [ ]:
num = 123
f'Number:{num:<7d}'
#:7d--> d for integer, width = 7, force to LEFT aligned (default right for number)

'Number:123    '

In [ ]:
f'{"Hello":>8s}'
#:8s--> s for string, width = 8, force to RIGHT aligned (default left for string)

'Hello   '

Please pay attention to the order! [align] before [width]

#### format specifier: **[grouping_option]**

group numeric values conveniently and improve readability.

In [ ]:
looooong_num = 123456789
f'Long number:{looooong_num:,}'

'Long number:123,456,789'

#### format specifier: **[sign]**

+:  a sign should be used for both positive and negative numbers

-: a sign should be used only for negative numbers (default behaviour)

space: a leading space should be used on positive numbers and a minus sign on negative numbers

In [ ]:
pos_num = 88
neg_num = -10
f'first:{pos_num:+}, second:{neg_num:+}' # + --> a sign should be used!

'first:+88, second:-10'

In [ ]:
f'first:{pos_num:-}, second:{neg_num:-}'# - --> a sign only for negative!

'first:88, second:-10'

In [ ]:
f'first:{pos_num: }, second:{neg_num: }'# space --> leading space for pos, minus sign for neg

'first: 88, second:-10'

Test your knowledge: a comprehensive example

In [ ]:
# Advanced example
num_c = -123456789.5432
# standard, num is placed between 'First part"' and 'after'
print(f'First part:{num_c}after')

#[fill]:0; [align]:default(number is right align);
#[sign]:default
#[width]:20 -> (-000,000,123,456,790) takes 20
#[grouping_option]: ,
#[.precision]:0 ->0 digit for fractional part, aka, whole number. rounding on 789.54 will be 790
#[type]:f
print(f'First part:{num_c:=020,.0f}after') # use :=
print(f'First part:{num_c:020,.0f}after') # use :

First part:-123456789.5432after
First part:-000,000,123,456,790after
First part:-000,000,123,456,790after

In [ ]:
#[fill]:no fill; [align]:default(number is right align);
#[sign]:+
#[width]:20
#[grouping_option]: ,
#[.precision]:0
#[type]:f
print(f'First part:{num_c*-1:=+20,.0f}after')
# the value has been changed to a positive number by the expression num*(-1)

First part:+        123,456,790after

### 3. Str.format()

It is a string method to interpolate values into your strings.

Formats the specified value(s) and insert them inside the string's placeholder.

format() inserts its arguments into the *replacement fields* and builds a final string.

In [ ]:
# A quick example: using different placeholder values
txt1 = "My name is {fname}, I'm {age}".format(fname = "Zijing", age = 18)
txt2 = "My name is {0}, I'm {1}".format("Zijing",18)
txt3 = "My name is {}, I'm {}".format("Zijing",18)
print(txt1)
print(txt2)
print(txt3)

My name is Zijing, I'm 18
My name is Zijing, I'm 18
My name is Zijing, I'm 18

Combine **format specifiers** with str.format()

In [ ]:
print("For only {price:.2f} dollars!".format(price = 99.9))

For only 99.90 dollars!

#### replacement fields

The str.format() function can be used to accomplish similar things as F-strings. In particular, the format specification mini-language can still be used to control how data are printed to the screen.

The difference lies in the optional **replacement fields**.

Strings on which str.format() is called can contain replacement fields, **data contained in curly braces {}** that are operated on before being printed to the screen

Similar to the format specification mini-language, there is also a grammar for replacement fields, which syntax is:

**replacement_field ::= "{" [field_name] ["!" conversion] [":" format_spec] "}"**

* field_name: thing to print
* conversion and format_spec: how to print

In less formal terms, the replacement field can start with
* a **field_name** that specifies the object whose value is to be formatted and inserted into the output instead of the replacement field.
* The field_name is optionally followed by a **conversion**, which is preceded by an exclamation point '!',
* and a **format_spec**, which is preceded by a colon ':'. These specify a non-default format for the replacement value.”

Note that the basis of a replacement field is an object, not an expression (as it was in the F-strings). Putting an arbitrary expression into a replacement field will result in an error.

Also in less formal terms, the **field_name** can be one of three things:

1. A keyword, in which case it refers to a named argument passed
into the .format() function
2. An integer, in which case it refers to a positional argument passed into the .format() function (as in, 0 refers to the first argument, 1 to the second, etc.)
3. Blank, in which case it gets the next positional argument from the arguments to the .format() function in ascending numerical order

That is, “{first} {second} {third}”.format(first=a, second=b, third=c) does the same thing as “{0} {1} {2}”.format(a, b, c)which in turn does the same thing as “{} {} {}”.format(a, b, c)

In [ ]:
# field_name
a, b, c = 3, 1, 4
print("{first}{second}{third}".format(first = a, second=b, third = c)) # case 1
print("{0}{1}{2}".format(a, b, c)) # case 2
print("{}{}{}".format(a, b, c)) # case 3

314
314
314

**conversion** is rarely used

It can be one of three things:
1. !s, the object is passed to the str()
2. !r, the object is passed to the repr()
3. !a, the object is passed to the ascii()

The “default behaviour” is the same is what happens when you normally try to print a non-string value, which is to say the __format__ method of that object is called.

repr() : returns a printable string describing the object that is passed in. A class can control what this function returns for its instances when called by defining a __repr__() dunder method.

ascii(): returns a readable version of any objects. Replace any non-ascii characters with escape characters.

In [ ]:
x = ascii("My name is Stellå")
print(x)

'My name is Stell\xe5'

In [ ]:
print("Case 1--{!s}".format(99.99)) # case 1
print("Case 2--{!r}".format('Stellå')) # case 2
print("Case 3--{!a}".format('Stellå')) # case 2

Case 1--99.99
Case 2--'Stellå'
Case 3--'Stell\xe5'

The **format_spec** argument is same as what we used in f-string.

However, str.format() lets you do something pretty cool: format_spec field can have nested replacement fields in it!
For example, print('{0:{width}{base}}'.format(num, base=base, width=width), end=‘ ‘)

This makes the format string itself programmable, as in the example we saw a bit earlier

In [ ]:
width = 5
for num in range(16):
  for base in 'dxob':
    print('{0:{width}{base}}'.format(num, base=base, width=width), end=' ')
  print() # change to next line after inner for-loop

    0+    0+    0+    0+
    1+    1+    1+    1+
    2+    2+    2+   10+
    3+    3+    3+   11+
    4+    4+    4+  100+
    5+    5+    5+  101+
    6+    6+    6+  110+
    7+    7+    7+  111+
    8+    8+   10+ 1000+
    9+    9+   11+ 1001+
   10+    a+   12+ 1010+
   11+    b+   13+ 1011+
   12+    c+   14+ 1100+
   13+    d+   15+ 1101+
   14+    e+   16+ 1110+
   15+    f+   17+ 1111+

### Format output for file

Write a beautiful and elegant txt file.

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "Zijing", age = 18)
# txt2 = "My name is {0}, I'm {1}".format("Zijing",18)

with open("format_file.txt", "w") as my_file:
    my_file.write(txt1+'\n') # one way to add the new line character
    my_file.write("My name is {0}, I'm {1}, \n".format("Zijing",18)) # another way
    my_file.write("This is an elegant text file \n")

In [ ]:
# write a 'table' to file with nested for-loop
width = 5
with open('format_table.txt','w') as myfile:
  for num in range(16):
    for base in 'dxob':
      myfile.write('{0:{width}{base}}'.format(num, base=base, width=width)+' ')
    myfile.write('\n') # add a newline character at the end of each row

## Files

### open

In [ ]:
## Don't use this
# file = open("filename.txt", 'r')
# string = file.read() # read entire content as a string

## read line with for loop
# for line in file:
#    print(line[:-1])

# file.close()

### With open

No need to manually close the file.

First create a new file and write to it.

Then read it.

In [ ]:
with open("hello.txt", "w") as my_file:
    my_file.write("Hello world \n")
    my_file.write("I hope you're doing well today \n")
    my_file.write("This is a text file \n")
    my_file.write("Have a nice time \n")

with open("hello.txt") as my_file:
    for line in my_file:
        print(line)

Hello world

I hope you're doing well today

This is a text file

Have a nice time

### Json File
https://www.w3schools.com/python/python_json.asp

**json.load()** read json into Python

**json.dump()** save Python as json

In [ ]:
# writing to a Jason File.   json.dump()
import json
people = [
    {'name': 'John Doe', 'age': 43, 'is_employee': True},
     {'name': 'Jane Doe', 'age': 44, 'is_employee': False}
    ] # True/False will be in lower case in people.json

out_file = open('people.json', 'w')
json.dump(people, out_file)
out_file.close()

In [ ]:
# Read json file as a Python object with json.load()
import json
in_file = open('people.json', 'r')

people = json.load(in_file) # a list of dict
in_file.close()

for person in people: # for each element in list
    print(person)

### Path

In [ ]:
# Identify file
import os
os.path.isfile(path)

In [ ]:
# Idenfity dir, create path if not exists
if not os.path.isdir(path):
  os.mkdir(path)

In [ ]:
# List all files and folders
os.listdir(path)

## Tuple List Set Dict

### Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is **ordered and unchangeable**.

Tuples are written with round brackets.

In [ ]:
# Tuple can have duplicated value
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# Tuple is ordered
for element in thistuple:
  print(element)

apple
banana
cherry
apple
cherry

#### Tuple unpacking

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### List

List can has **mix values**, nested list

list operations:

In [ ]:
lst = [1,2,3] + [2.2,1.8] #concatenation
len(lst) #length
lst.append('Zijing') # append ->[1, 2, 3, 2.2, 1.8, 'Zijing']
print(lst)
del lst[-1] #delete 'Ziing'
print(lst)

[1, 2, 3, 2.2, 1.8, 'Zijing']
[1, 2, 3, 2.2, 1.8]

In [ ]:
lst.sort() #sort
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# get a new object. Not reference by assignmnet: old_wiggles = wiggles
wiggles = ['greg', 'anthony', 'murray', 'jeff']
old_wiggles = wiggles.copy()

### Difference between list and tuple

In [ ]:
# both list and tuple can include different types
mylst = [1,2,'Hi']
mytuple = (1,2,'Bye')

In [ ]:
mylst[2] = 888 # list are mutable
print(mylst)

[1, 2, 888]

In [ ]:
mytuple[2] = 999 # tuple are NOT mutable
print(mytuple)

TypeError: 'tuple' object does not support item assignment

### Dict

In [ ]:
d1 = {} # empty dict. To create a set --> s1 = {2,3,4}, must has elements. Otherwise it is empty dict

In [ ]:
# add and revise element
pet = {'name':'fido'}
pet['colour'] = 'purple' # set a value with a new key will add a new item!
print(pet)
pet['name'] = 'kiki'
print(pet)
# del pet['name'] # remove item

{'name': 'fido', 'colour': 'purple'}
{'name': 'kiki', 'colour': 'purple'}

In [ ]:
print( pet.keys() )# all keys
print( pet.values() )# all values

dict_keys(['name', 'colour'])
dict_values(['kiki', 'purple'])

In [ ]:
# iterate over items with items()
for key, value in pet.items():
  print(f'Key is {key}, value is {value}')

Key is name, value is kiki
Key is colour, value is purple

#### A tuple can be used as dict key

In [ ]:
pets_loc = {(1,2):'fido',(3,4):'stella'} # pets sit at location (x, y)
print(pets_loc)

{(1, 2): 'fido', (3, 4): 'stella'}

### Set


An **unordered** collection of items with **unique** values.

Can't *index* or *slice* a Set

In [ ]:
# Two ways to create
s1 = {2,3,4} # must has elements. Otherwise it becomes dict
s2 = set() # empty set

In [ ]:
# set operation: add()/remove()/in
s1 = {2,3,4}
s1.add(50) # add {2,3,4,50}
s1.remove(2) # delelte {3,4,50}
print(s1)
print(50 in s1) # check membership with 'in' and 'not in'

{3, 4, 50}
True

### Slicing

In [ ]:
mylist = [0,1,2,3,4,5,6,7]
print("text[0,7]=" , mylist[0:7]) # start = 0, end = (7-1)
print("text[:7]=" , mylist[:7]) # omit start, so start=0, end =(7-1)
print("text[1:]=" , mylist[1:]) # omit end, so start=1, end = 7
# step = 3
print("text[0,7,3]=" , mylist[0:7:3]) # start = 0, end = (7-1), step = 3

text[0,7]= [0, 1, 2, 3, 4, 5, 6]
text[:7]= [0, 1, 2, 3, 4, 5, 6]
text[1:]= [1, 2, 3, 4, 5, 6, 7]
text[0,7,3]= [0, 3, 6]

In [ ]:
text = "0123456789"
num = len(text) # num is 10
print(text[0:num:3]) # start = 0, end = last element 'n'
print(text[::3]) # omit start, so start = 0; omit end, so end = last element 'n'

0369
0369

In [ ]:
s = 'abcdefg'
s[0:5:2] # start = 0, end = 5-1, step = 2

'ace'

In [ ]:
# arguments can be omitted when using :
text = [0,1,2,3,4,5,6,7]
print(text[:])

ZijingChenPython

### Slicing with negative integer

In [ ]:
text = "ZijingChenPython"

# Slicing left part of string text
left = text[:-6]

# Slicing middle part of string text
middle = text[-10:-6]

# Slicing right part of string text
right = text[-6:]

print(left)
print(middle)
print(right)

ZijingChen
Chen
Python

Zip()

The zip() function returns a **zip object**, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [ ]:
a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

res = zip(a, b)
print(res)

<zip object at 0x78e3a4909180>

In [ ]:
for x, y in res:
  print('x = ', x, '; y = ', y)

x =  John
y =  Jenny
x =  Charles
y =  Christy
x =  Mike
y =  Monica

## String

In [ ]:
# strings are IMMUTABLE!!
greeting = "Hello!"
greeting[2] = '8'

TypeError: 'str' object does not support item assignment

## String functions

In [ ]:
# The strip() method removes any leading, and trailing whitespaces (spaces, tabs, and newlines) )
mystr = " Welcome to zijing's python class.    \n" # white space at the begininng and end. Won't remmove '.'
res = mystr.strip()
print('1'+res+'2') # anything between 1 and 2 belongs to res!

1Welcome to zijing's python class.2

In [ ]:
# The split() method splits a string according to ...
mystr = " Welcome to zijing's python class.    \n" # white space at the begininng and end. Won't remmove '.'
out = mystr.split() # split
print(out)

['Welcome', 'to', "zijing's", 'python', 'class.']

In [ ]:
mystr = " Welcome to zijing's python class.    \n"
out = mystr.split('.') # split according to '.'
print(out)

[" Welcome to zijing's python class", '    \n']

In [ ]:
# join()

' '.join(['My', 'name', 'is', 'Zijing'])

'My name is Zijing'

## Errors and Exceptions

3 kinds of error:


*   Syntax Error
*   Runtime Error (cause crash. eg, fiels doesn't exist, divide 0, un-defined variable, non-exist index)
*   Logic Error  

An exception is a **runtime error** but can **recover** (no more crash).

Put the code which may casue crash in *try*, and how to handle in *except*

In [ ]:
# try...except.. to handle exceptions
# the code won't crash as it gives another chance for user to input
while True:
  try:
    denom = int(input('Enter a denom: '))
    result = str(1/denom)
    break
  except ZeroDivisionError: # multiple except blocks handing different types of ecceptions
    result = 'infinity'
    break
  except ValueError: # write except and error type in the same line
    print('Invalid input, try again please.') # then it go to next loop and wait for user's input

print(f'The reciprocal of {denom} is {result}')

Enter a denom: 0
The reciprocal of 0 is infinity

Python raise exception for Python function.

User defined function has to raise exception by yourself, raise ...

In [ ]:
def print_odd_only(n):
  if n % 2 == 0:
    raise ValueError(f'{n} is even!')
  print(n)


try:
  print_odd_only(5)
  print_odd_only(4) # raise a ValueError. Control flow jumps to except block
except ValueError:
  print('Oops')

print('Done')

5
Oops
Done

## Module

E.g. math.py

In [ ]:
import math
print(  math.ceil(1.1) )

2

In [ ]:
import random
print('A random number: ', random.random()) # floating number between 0 and 1.
print('Random int: ', random.randint(0,11))

city_list = ['Melb', 'Syd', 'Perth', 'Bne']
print('Random choice: ', random.choice(city_list))

random.shuffle(city_list) # in-place shuffle
print('Shuffle a list: ', city_list)

A random number:  0.8833284256039593
Random int:  6
Random choice:  Syd
Shuffle a list:  ['Bne', 'Perth', 'Syd', 'Melb']

## Pandas

Data analysis

## Matplotlib

Plotting